<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPU_barChart_position</key>
	<integer>2</integer>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChart_position</key>
	<integer>3</integer>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_updateInterval</key>
	<integer>15</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>GPU_state</key>
	<true/>
	<key>GPU_updateInterval</key>
	<integer>15</integer>
	<key>RAM_barChart_position</key>
	<integer>4</integer>
	<key>RAM_label_position</key>
	<integer>2</integer>
	<key>RAM_lineChart_position</key>
	<integer>3</integer>
	<key>RAM_memory_position</key>
	<integer>1</integer>
	<key>RAM_mini_position</key>
	<integer>0</integer>
	<key>RAM_pieChart_position</key>
	<integer>5</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>6</integer>
	<key>RAM_text_position</key>
	<integer>7</integer>
	<key>RAM_updateInterval</key>
	<integer>15</integer>
	<key>RAM_widget</key>
	<string>mini</string>
	<key>Sensors_state</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
</dict>
</plist>
